.filterButton {
  border: none;
  background-color: transparent;
  color: #020817 !important;
  padding: 6px 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.active {
  background-color: #ffffff;
  color: #212529 !important;
  font-weight: 700;
}

.detailButton {
  border: 1px solid #e2e8f0;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #020817 !important;
}

.detailButton:hover,
.detailButton:focus,
.detailButton:active {
  background-color: transparent !important;
  border-color: black !important;
  color: black !important;
  box-shadow: none !important;
}

.paymentStatusComplete {
  background-color: #d1f5e1;
  color: #0f5132 !important;
  font-weight: 600;
  border: none;
  border-radius: 999px !important;
  padding: 0.5rem 1.25rem;
  font-size: 0.95rem;
  line-height: 1;
  cursor: default;

  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    background-color: #d1f5e1;
    color: #0f5132;
    box-shadow: none;
    outline: none;
  }
}

.deliveryStatus {
  background-color: #e0e7ff;
  color: #3730a3 !important;
  font-weight: 600;
  border: none;
  border-radius: 999px !important;
  padding: 0.5rem 1.25rem;
  font-size: 0.95rem;
  line-height: 1;
  cursor: default;

  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    background-color: #e0e7ff;
    color: #3730a3;
    box-shadow: none;
    outline: none;
  }
}
