.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* 여백 제거 */
}

.subImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.sectionDivider {
  border-bottom: 1px solid #dee2e6; /* 연한 회색 */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.view {
  width: 100%;
  color: #64748B !important;
}

.active {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  color: #020817 !important;
}

.reviewButton {
  border: 1px solid #E2E8F0;
  font-family: Noto Sans KR;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #020817 !important;
}

.reviewButton:hover,
.reviewButton:focus,
.reviewButton:active {
  background-color: transparent !important;
  border-color: black !important; /* 필요에 따라 유지 */
  color: black !important;
  box-shadow: none !important;
}

.reviewCard {
  width: 505px;
  border: 1px solid #D2D2D2;
}

.roundBadge {
  font-size: 0.7rem;
  padding: 4px 8px;
  font-weight: 600;
  background-color: #A855F7 !important;
  color: white !important;
  border-radius: 4px;
}

.customProgress :global(.progress-bar) {
  background-color: #0F172A !important;
}
.countButton:hover,
.countButton:focus,
.countButton:active {
  background-color: transparent !important;
  border-color: black !important; /* 필요에 따라 유지 */
  color: black !important;
  box-shadow: none !important;
  min-width: 40px;
}

.reviewTextarea {
  border: 1px solid #ddd;
  resize: none;
  padding: 12px;
  font-size: 14px;
  box-shadow: none;
}

.reviewTextarea:focus {
  border-color: #a98bfe;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(169, 139, 254, 0.25); /* 연보라 강조 */
}

