//버튼 컬러
$btnPrimary: #6f42c1;
$btnPrimaryHover: #9a7bb5;
$btnPrimaryFocus: #7f5a99;

$btnSecondary: #385752;
$btnSecondaryHover: #2a4642;
$btnSecondaryFocus: #203431;

$btnDanger: #91524b;
$btnDangerHover: #74423c;
$btnDangerFocus: #74423c;

//GNB 활성화 컬러
$activeColor: #A855F7;

//배경 컬러
$bodyBackgroundColor: #f6f7f9;

//카드 배경 컬러
$cardBackgroundColor: #fff;
